* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ffebf6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  animation: fadeIn 1.5s ease-out;
}

.login-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
  font-size: 16px;
  color: #9810fa;
}

h2 {
  text-align: center;
  color: #59168b;
  font-size: 20px;
  margin-bottom: 14px;
}

.icon-container {
  background-color: #9810fa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

h1 svg {
  fill: white;
  padding: 10px;
  transform: rotate(60deg);
}

h3 {
  text-align: center;
  font-size: 16px;
  color: #4a5565;
  margin-bottom: 24px;
}

.login-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  width: 100%;
}
.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s ease;
  outline: none;
}

.login-form input:focus {
  border-color: #454545cc;
  box-shadow: 0 0 8px rgba(69, 69, 69, 0.8), 0 0 16px rgba(69, 69, 69, 0.8);
}

.login-button {
  background-color: #9810fa;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  width: 100%;
}

.login-button:hover {
  background-color: #7a0cd9;
}

.signup-link {
  text-decoration: none;
  text-align: center;
  color: #9810fa;
  font-size: 12px;
  margin: 20px auto;
}

.back-home {
  text-decoration: none;
  text-align: center;
  color: #9810fa;
  font-size: 14px;
  margin: 10px auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
