* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fce7f3;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand a {
  text-decoration: none;
  font-size: 20px;
  color: #9810fa;
}

.profile {
  display: flex;
  gap: 12px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9810fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a[aria-current="page"] {
  color: #7c3aed;
  border-bottom: 3px solid #7c3aed;
  padding-bottom: 12px;
}

nav a[aria-current="page"] svg path {
  stroke: #7c3aed;
}

main {
  padding: 20px;
}

.header-section {
  margin-bottom: 40px;
}
.header-section h1 {
  font-size: 32 px;
  margin-bottom: 10px;
  color: #59168b;
}

.header-section p {
  color: #4a5565;
  font-size: 16px;
}

.available-pets {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto 40px auto;
}

.pet-card {
  max-width: 416px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  width: 100%;
}

.pet-card img {
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.pet-details {
  padding: 20px;
}

.pet-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pet-header p {
  background: #f3e8ff;
  color: #7c3aed;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.pet-header h2 {
  font-size: 18px;
}

.pet-details h2 {
  color: #59168b;
  margin-bottom: 8px;
  font-weight: 100;
}

.pet-details p {
  color: #4a5565;
  margin-bottom: 16px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.tags span {
  background: #e0e7ff;
  color: #3730a3;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.pet-details button {
  background: #9810fa;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
