* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fce7f3;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand a {
  text-decoration: none;
  font-size: 20px;
  color: #9810fa;
}

.profile {
  display: flex;
  gap: 12px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9810fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a[aria-current="page"] {
  color: #7c3aed;
  border-bottom: 3px solid #7c3aed;
  padding-bottom: 12px;
}

nav a[aria-current="page"] svg path {
  fill: white;
  stroke: #7c3aed;
}

main {
  padding: 20px;
}

.hero {
  margin-top: 30px;
  line-height: 1.5;
}
.hero h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #59168b;
}

.hero p {
  font-size: 16px;
  color: #4a5565;
}

.quick-actions {
  margin-top: 40px;
}

.card-list {
  display: flex;
  gap: 20px;
}

.logo-container {
  background: #f3e8ff;
  border-radius: 50%;
  padding: 12px;
  width: fit-content;
  height: fit-content;
}

.logo-container1 {
  transform: rotate(60deg);
}

.logo-container2 {
  background: #fce7f3;
  border-radius: 50%;
  padding: 6px;
  width: fit-content;
  height: fit-content;
}

.logo-container3 {
  background: #ffedd4;
  border-radius: 50%;
  padding: 6px;
  width: fit-content;
  height: fit-content;
}

.card-list a {
  background: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 320px;
  width: 100%;
  height: 220px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card-list h2 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #59168b;
}

.card-list p {
  max-width: 170px;
  font-size: 16px;
  color: #4a5565;
}

.stats {
  margin: 40px 0;
}

.stats-list {
  display: flex;
}

.stats article {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 250px;
  margin-right: 20px;
  flex: 1;
}

.stats h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.stats p {
  font-size: 18px;
  color: #4a5565;
}
