* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ffebf6;
  color: #333;
  max-width: 100%;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 16px;
}

h2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9810fa;
  flex-wrap: wrap;
}

.logo {
  margin-right: 10px;
  fill: #9810fa;
  transform: rotate(50deg);
}

main {
  padding: 64px;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin: 24px 0 48px 0;
  gap: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero-actions {
  display: flex;
  flex-direction: column;
}

h1 {
  max-width: 552px;
  font-size: 48px;
  color: #59168b;
  line-height: 1.2;
}

h1 span {
  color: #ff69b4;
  display: block;
}

.description {
  max-width: 552px;
  font-size: 21px;
  margin: 48px 0 0 0;
}

.btn-group {
  display: flex;
  gap: 16px;
  margin: 24px 0 24px 0;
  flex-wrap: wrap;
}

.get-started {
  border: none;
  font-size: 14px;
  background: #9810fa;
  padding: 14px 40px 14px 40px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.get-started a {
  text-decoration: none;
  color: white;
}

.get-started:hover {
  background-color: #6807b3;
}

.learn-more {
  font-size: 14px;
  background: white;
  padding: 14px 40px 14px 40px;
  border: 1.18px solid #9810fa;
  border-radius: 8px;
  color: #9810fa;
  transition: 0.3s ease;
  cursor: pointer;
}

.learn-more:hover {
  color: black;
}

.stats {
  display: flex;
  gap: 25px;
  line-height: 1.5;
  flex-wrap: wrap;
  margin-top: 36px;
}

.stat-number {
  font-size: 18px;
  color: #9810fa;
}
.hero-img {
  max-width: 552px;
  border-radius: 16px;
  object-fit: cover;
}

.featured-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  max-width: 100%;
}

.content-card {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 24px auto;
  font-size: 16px;
  max-width: 390px;
}

.content-card h3 {
  color: #59168b;
}

.icon-wrapper {
  background: #f3e8ff;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.icon-wrapper2 {
  background: #fce7f3;
}

.icon-wrapper3 {
  background: #ffece3;
}

.card-vets {
  width: 24px;
  height: 24px;
}

.card-description {
  color: #666;
  line-height: 1.6;
  font-size: 16px;
}

.card-vets path {
  fill: none;
  stroke: #9810fa;
  stroke-width: 2;
}
.expert-vets {
  width: 36px;
  height: 30px;
  transform: rotate(60deg);
}

.expert-vets path {
  fill: #e60076;
  stroke: #e60076;
  stroke-width: 10;
}

.lifetime-support path {
  fill: none;
  stroke: #f54900;
  stroke-width: 2;
}

/* Desktop Size*/

@media screen and (max-width: 400px) {
  body {
    font-family: "Arial", sans-serif;
    background-color: #ffebf6;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  main {
    max-width: 400px;
    padding: 0; /* Override desktop padding: 64px */
  }

  h2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
  }

  h2 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #9810fa;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: #9810fa;
    transform: rotate(50deg);
  }
  .container {
    max-width: 393px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
  }

  h1 {
    max-width: 315px;
    font-size: 48px;
    color: #59168b;
    line-height: 1.2;
    margin-top: 48px;
  }

  h1 span {
    color: #ff69b4;
    display: block;
  }

  .description {
    font-size: 18px;
    color: #364153;
    margin: 48px 0 0 0;
  }

  .btn-group {
    display: flex;
    gap: 16px;
    margin: 24px 0 24px 0;
    flex-wrap: wrap;
  }
  .get-started {
    border: none;
    font-size: 14px;
    background: #9810fa;
    padding: 14px 40px 14px 40px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .get-started a {
    text-decoration: none;
    color: white;
  }

  .get-started:hover {
    background-color: #6807b3;
  }

  .learn-more {
    font-size: 14px;
    background: white;
    padding: 14px 40px 14px 40px;
    border: 1.18px solid #9810fa;
    border-radius: 8px;
    color: #9810fa;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .learn-more:hover {
    color: black;
  }

  .stats {
    display: flex;
    gap: 25px;
    line-height: 1.5;
    flex-wrap: wrap;
    margin: 48px 0 0 0;
  }

  .stat-number {
    font-size: 18px;
    color: #9810fa;
  }

  .hero-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    margin: 48px 0 48px 0;
  }

  .featured-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex-wrap: nowrap;
  }

  .content-card {
    background: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 24px;
    font-size: 16px;
    max-width: none;
    flex: none;
  }

  .content-card h3 {
    color: #59168b;
  }

  .icon-wrapper {
    background: #f3e8ff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .icon-wrapper2 {
    background: #fce7f3;
  }

  .icon-wrapper3 {
    background: #ffece3;
  }

  .card-vets {
    width: 24px;
    height: 24px;
  }

  .card-description {
    color: #666;
    line-height: 1.6;
  }

  .card-vets path {
    fill: none;
    stroke: #9810fa;
    stroke-width: 2;
  }
  .expert-vets {
    width: 36px;
    height: 30px;
    transform: rotate(60deg);
  }

  .expert-vets path {
    fill: #e60076;
    stroke: #e60076;
    stroke-width: 10;
  }

  .lifetime-support path {
    fill: none;
    stroke: #f54900;
    stroke-width: 2;
  }
}
