* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fce7f3;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand a {
  text-decoration: none;
  font-size: 20px;
  color: #9810fa;
}

.profile {
  display: flex;
  gap: 12px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9810fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a[aria-current="page"] {
  color: #7c3aed;
  border-bottom: 3px solid #7c3aed;
  padding-bottom: 12px;
}

nav a[aria-current="page"] svg path {
  stroke: #7c3aed;
}

.upload-header {
  text-align: center;
  margin: 40px 0 20px 0;
  line-height: 1.6;
}

.pet-upload {
  display: flex;
  background: white;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 40px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pet-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.pet-description {
  width: 100%; /* Full width of container */
  max-width: 620px; /* Optional: cap at 600px to prevent overflow */
}

.pet-description .form-group {
  width: 100%; /* Full width of .pet-description */
}

.pet-upload .form-group textarea {
  width: 100%;
  height: 100px;
  resize: none; /* Prevents resizing */
}

.pet-upload legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.pet-upload fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.pet-upload fieldset .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.pet-upload input[type="checkbox"] {
  width: auto;
  height: auto;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  height: 40px; /* Consistent height */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 auto 20px auto;
}

input[type="text"],
select[id="gender"],
select[id="species"],
input[type="number"],
textarea {
  background-color: #f3f3f5;
}

.pet-upload button {
  background-color: #f54900;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  font-weight: 100;
}

.pet-upload button:hover {
  background-color: #d63e00;
  transition: 0.3s ease;
}
